/***** Animation rotation logo pour laisser les textes apparaître *****/
.header-logo {
  width: 120px;
  animation: rotation-logo 1.8s ease forwards;
  transform-origin: center;
}

.header-society {
  opacity: 0;
  animation: apparition-texte 1.4s ease forwards;
  animation-delay: 1s;
}

/* Animation du décalage et de la rotation du logo */
@keyframes rotation-logo {
  0% {
    transform: translateX(120px) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(-360deg);
  }
}

/* Apparition du texte */
@keyframes apparition-texte {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/****** Animation de parallaxe pour le hero header *****/
.section-search {
  animation: parallaxe linear both;
  animation-timeline: scroll();
  animation-range: entry 0% exit 100%;
}

@keyframes parallaxe {
  from {
    background-position: center 0;
  }

  to {
    background-position: center -300px;
  }
}

/***** Animation bounce pour le bouton "Tous les bons plans" *****/
@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

.section-tips-link.button {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* On arrête l'animation au hover pour éviter qu'il soit ennuyant à cliquer */
.section-tips-link.button:hover {
  animation-play-state: paused;
}

/***** Animation du titre de la section Newsletter *****/
.newsletter-form-excerpt {
  animation-name: wiggle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(1deg);
  }

  25% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1.5deg);
  }

  75% {
    transform: rotate(-0.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/***** Animation du titre (rétrécissement au hover) du bouton Inscription Newsletter ******/
.newsletter-form-item:hover {
  transform: scale(0.94);
  transition: linear 0.1s;
  border-radius: 27px;
}

.newsletter-form-input:hover {
  border: 3px solid rgb(95, 3, 3);
}

/****** Animation de la div "Nos idées voyage" en fonction de la vue d'écran (view) ******/

/* On crée un timeline basé sur le scroll de la section */
.ideas {
  scroll-timeline-name: ideas-timeline;
  scroll-timeline-axis: block;
}

.ideas-col {
  transform: translateY(100px);
  animation: cascade 0.6s ease-out both;
  animation-timeline: view(); /* en fonction du scroll */
  animation-range: entry 0% cover 50%;
}

/* Apparition en cascade un délai */
.ideas-col:nth-child(1) {
  animation-delay: 0s;
}

.ideas-col:nth-child(2) {
  animation-delay: 0.1s;
}

.ideas-col:nth-child(3) {
  animation-delay: 0.2s;
}

.ideas-col:nth-child(4) {
  animation-delay: 0.3s;
}

.ideas-col:nth-child(5) {
  animation-delay: 0.4s;
}

.ideas-col:nth-child(6) {
  animation-delay: 0.5s;
}

.ideas-col:nth-child(7) {
  animation-delay: 0.6s;
}

.ideas-col:nth-child(8) {
  animation-delay: 0.7s;
}

.ideas-col:nth-child(9) {
  animation-delay: 0.8s;
}

@keyframes cascade {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}

/* Fallback pour les navigateurs incompatibles (Firefox, Safari) */

/* Si animation-timeline n'est pas supporté, on remplace l'animation par une animation temporelle */
@supports not (animation-timeline: auto) {
  .ideas-col {
    animation: cascade 0.6s ease-out forwards;
    animation-timeline: auto;
    animation-range: normal;
  }

  /* Délais de cascade + délai initial de 3 secondes pour laisser l'utilisateur parcourir la page */
  .ideas-col:nth-child(1) {
    animation-delay: 3s;
  }

  .ideas-col:nth-child(2) {
    animation-delay: 3.1s;
  }

  .ideas-col:nth-child(3) {
    animation-delay: 3.2s;
  }

  .ideas-col:nth-child(4) {
    animation-delay: 3.3s;
  }

  .ideas-col:nth-child(5) {
    animation-delay: 3.4s;
  }

  .ideas-col:nth-child(6) {
    animation-delay: 3.5s;
  }

  .ideas-col:nth-child(7) {
    animation-delay: 3.6s;
  }

  .ideas-col:nth-child(8) {
    animation-delay: 3.7s;
  }

  .ideas-col:nth-child(9) {
    animation-delay: 3.8s;
  }
}

/* Animations dans le footer, basé sur un "prisme à base pentagonale"
pour afficher une face toutes les 5 secondes */

#footer {
  height: 15rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  display: flex;
}

/* Distance du centre */
:root {
  --radius: 300px;
}

/* Conteneur : on coupe ce qui dépasse + on ajoute la perspective */
.prisme-conteneur {
  perspective: 1000px;
  display: flex;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

/* Prisme */
.prisme {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  animation: rotation-prisme 25s infinite;
  /* 5 faces → 5s par face (4s fixe + 1s rotation) */
}

/* On enlève les bordures et on augmente la taille du texte */
.footer-stats-item {
  border-right: none;
}

.footer-stats-item:first-child {
  border-left: none;
}

.footer-stats-item-number {
  font-size: 1.2rem;
}

.footer-stats-item-title {
  font-size: 0.9rem;
}

/* Faces */
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* cache la face arrière */
  opacity: 0;
  margin-top: 3rem;
}

/* 5 faces à 360/5 = 72° */
.un {
  transform: rotateY(0deg) translateZ(var(--radius));
}

.deux {
  transform: rotateY(72deg) translateZ(var(--radius));
}

.trois {
  transform: rotateY(144deg) translateZ(var(--radius));
}

.quatre {
  transform: rotateY(216deg) translateZ(var(--radius));
}

.cinq {
  transform: rotateY(288deg) translateZ(var(--radius));
}

/* Rotation globale : 
   - chaque bloc de 20% ≈ 5s
   - ~16% face fixe, ~4% de rotation vers la suivante */
@keyframes rotation-prisme {
  /* Face 1 devant */
  0%,
  16% {
    transform: rotateY(0deg);
  }

  20% {
    transform: rotateY(-72deg);
  }

  /* Face 2 devant */
  20%,
  36% {
    transform: rotateY(-72deg);
  }

  40% {
    transform: rotateY(-144deg);
  }

  /* Face 3 devant */
  40%,
  56% {
    transform: rotateY(-144deg);
  }

  60% {
    transform: rotateY(-216deg);
  }

  /* Face 4 devant */
  60%,
  76% {
    transform: rotateY(-216deg);
  }

  80% {
    transform: rotateY(-288deg);
  }

  /* Face 5 devant */
  80%,
  96% {
    transform: rotateY(-288deg);
  }

  100% {
    transform: rotateY(-360deg);
  }
}

/* Visibilité : une seule face est visible quand elle est devant */

@keyframes visible1 {
  0%,
  16% {
    opacity: 1;
  }

  17%,
  100% {
    opacity: 0;
  }
}

@keyframes visible2 {
  0%,
  19% {
    opacity: 0;
  }

  20%,
  36% {
    opacity: 1;
  }

  37%,
  100% {
    opacity: 0;
  }
}

@keyframes visible3 {
  0%,
  39% {
    opacity: 0;
  }

  40%,
  56% {
    opacity: 1;
  }

  57%,
  100% {
    opacity: 0;
  }
}

@keyframes visible4 {
  0%,
  59% {
    opacity: 0;
  }

  60%,
  76% {
    opacity: 1;
  }

  77%,
  100% {
    opacity: 0;
  }
}

@keyframes visible5 {
  0%,
  79% {
    opacity: 0;
  }

  80%,
  96% {
    opacity: 1;
  }

  97%,
  100% {
    opacity: 0;
  }
}

/* On applique les animations d’opacité aux faces */
.un {
  animation: visible1 25s infinite;
}

.deux {
  animation: visible2 25s infinite;
}

.trois {
  animation: visible3 25s infinite;
}

.quatre {
  animation: visible4 25s infinite;
}

.cinq {
  animation: visible5 25s infinite;
}

/*
* Animation des mentions CGE dans le footer 
*/

.footer-mentions-display-zone {
  max-width: 75rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* pour cacher ce qui est en dehors de la zone */
  padding: 0;
}

.footer-mentions-message {
  color: var(--white-color);
  font-size: 0.9rem;
  font-style: italic;
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%; /* on pousse à droite pour cacher l'élément */
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  animation: defilement 30s linear infinite;
}

@keyframes defilement {
  0% {
    translate: 0 0;
  }
  100% {
    translate: -100% 0;
  }
}

/*
 Animation des éléments de la liste Top Destination :
  Les items subissent un changement de couleur, chacun leur tour
   1. On définit les couleurs de base dans des variables sur le parent.
   2. L'animation ne fait que changer la valeur de ces variables.
   3. Les enfants utilisent ces variables pour que tout change en même temps.
 On a aussi un effet scale.
*/

.tops-item {
  /* Couleurs par défaut */
  --bg-actuel: var(--white-color);
  --link-color-dynamic: var(--secondary-color);
  --price-color-dynamic: var(--black-color);
}

/* Zébrage */
.tops-item:nth-child(even) {
  --bg-actuel: #f0f0f0;
}

.tops-item {
  animation-name: mise-en-evidence;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.tops-item .tops-link {
  color: var(--link-color-dynamic) !important;
  transition: none !important;
}

.tops-item .tops-price {
  color: var(--price-color-dynamic) !important;
  transition: none !important;
}

.tops-item:nth-child(1) {
  animation-delay: 0s;
}
.tops-item:nth-child(2) {
  animation-delay: 4s;
}
.tops-item:nth-child(3) {
  animation-delay: 8s;
}
.tops-item:nth-child(4) {
  animation-delay: 12s;
}
.tops-item:nth-child(5) {
  animation-delay: 16s;
}

.tops-item:hover {
  animation-play-state: paused;
  background-color: var(--primary-color) !important;
  scale: 1.05;
  z-index: 20;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --link-color-dynamic: var(--white-color) !important;
  --price-color-dynamic: var(--white-color) !important;
}

@keyframes mise-en-evidence {
  0%,
  2.5% {
    background-color: var(--bg-actuel);
    scale: 1;
    z-index: 1;
    box-shadow: none;
    --link-color-dynamic: var(--secondary-color);
    --price-color-dynamic: var(--black-color);
  }

  5%,
  7% {
    background-color: var(--secondary-color);
    scale: 1.15;
    z-index: 10;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    --link-color-dynamic: var(--white-color);
    --price-color-dynamic: var(--white-color);
  }

  10%,
  100% {
    background-color: var(--bg-actuel);
    scale: 1;
    z-index: 1;
    box-shadow: none;
    --link-color-dynamic: var(--secondary-color);
    --price-color-dynamic: var(--black-color);
  }
}

/* 
   Animation flip cards pour les bon plans 
   Source : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card
*/

.tips-col {
  background-color: transparent;
  perspective: 1000px;
}

.tips-item {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: visible !important; /* overflow: hidden; incompatible avec 3D ! (aide IA) */
}

.tips-col:hover .tips-item {
  transform: rotateY(180deg);
}

.tips-item-front,
.tips-item-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.tips-item-front {
  background-color: var(--white-color);
  z-index: 2;
  transform: rotateY(0deg);
}

.tips-item-back {
  position: absolute;
  background-color: var(--black-color);
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
  Animation sur les boutons de navigation
*/


.main-nav-item {
  perspective: 1000px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  transition: box-shadow 0.6s ease-in-out;
}

.main-nav-item-scene3d {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.main-nav-item:hover {
  box-shadow: 
    /* pour mémo : x | y | flou | étalement | couleur */
    0 -5px 30px -10px var(--secondary-color), /* en haut du bouton*/
    0 5px 30px -10px var(--secondary-color); /*en bas */
}

.main-nav-item:hover .main-nav-item-scene3d{
  transform: rotateX(180deg);
}

.main-nav-item-one,
.main-nav-item-two {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.main-nav-item-one {
  position: relative;
  padding: 0.25rem 1.25rem;
  color: var(--white-color);
  z-index: 2;
  text-transform: uppercase;
  font-size: 0.8rem;
  transform: rotateX(0deg);
}

.main-nav-item-two {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(180deg);
  color: var(--white-color);
  background-color: var(--secondary-color);
}

.main-nav-item-two .main-nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  text-decoration: none;
}

.main-nav-item-two .main-nav-link:hover {
  background-color: transparent;
  color: var(--white-color);
}

.main-nav-item:last-child .main-nav-item-one {
  color: var(--black-color);
}

.main-nav-item:last-child .main-nav-item-two {
  color: var(--white-color);
}

.main-nav-item:last-child .main-nav-item-two .main-nav-link {
  color: var(--white-color) !important;
  transition: none !important;
}
