/****** Animation de parallaxe pour le hero header *****/
.section-search {
  animation: parallaxe linear both;
  animation-timeline: scroll();
  animation-range: entry 0% exit 100%;
}

@keyframes parallaxe {
  from {
    background-position: center 0;
  }

  to {
    background-position: center -300px;
  }
}


/***** Animation bounce pour le bouton "Tous les bons plans" *****/
@keyframes bounce {

  0%,
  80%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

.section-tips-link.button {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* On arrête l'animation au hover pour éviter qu'il soit ennuyant à cliquer */
.section-tips-link.button:hover {
  animation-play-state: paused;
}


/***** Animation du titre de la section Newsletter *****/
.newsletter-form-excerpt {
  animation-name: wiggle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(1deg);
  }

  25% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1.5deg);
  }

  75% {
    transform: rotate(-0.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


/***** Animation du titre (rétrécissement au hover) du bouton Inscription Newsletter ******/
.newsletter-form-item:hover {
  transform: scale(0.94);
  transition: linear 0.1s;
  border-radius: 27px;
}

.newsletter-form-input:hover {
  border: 3px solid rgb(95, 3, 3);
}


/****** Animation de la div "Nos idées voyage" en fonction de la vue d'écran (view) ******/

/* On crée un timeline basé sur le scroll de la section */
.ideas {
  scroll-timeline-name: ideas-timeline;
  scroll-timeline-axis: block;
}

.ideas-col {
  animation: cascade 0.6s ease-out both;
  animation-timeline: view(); /* en fonction du scroll */
  animation-range: entry 0% exit -350%;
}

/* Apparition en cascade un délai */
.ideas-col:nth-child(1) {
  animation-delay: 0s;
}

.ideas-col:nth-child(2) {
  animation-delay: 0.1s;
}

.ideas-col:nth-child(3) {
  animation-delay: 0.2s;
}

.ideas-col:nth-child(4) {
  animation-delay: 0.3s;
}

.ideas-col:nth-child(5) {
  animation-delay: 0.4s;
}

.ideas-col:nth-child(6) {
  animation-delay: 0.5s;
}

.ideas-col:nth-child(7) {
  animation-delay: 0.6s;
}

.ideas-col:nth-child(8) {
  animation-delay: 0.7s;
}

.ideas-col:nth-child(9) {
  animation-delay: 0.8s;
}

@keyframes cascade {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}


/* Animations dans le footer, basé sur un "prisme à base pentagonale"
pour afficher une face toutes les 5 secondes */

#footer {
  height: 15rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  display: flex;
}

/* Distance du centre */
:root {
  --radius: 300px;
}

/* Conteneur : on coupe ce qui dépasse + on ajoute la perspective */
.prisme-conteneur {
  perspective: 1000px;
  display: flex;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

/* Prisme */
.prisme {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  animation: rotation-prisme 25s infinite;
  /* 5 faces → 5s par face (4s fixe + 1s rotation) */
}

/* On enlève les bordures et on augmente la taille du texte */
.footer-stats-item {
  border-right: none;
}

.footer-stats-item:first-child {
  border-left: none;
}

.footer-stats-item-number {
  font-size: 1.2rem;
}

.footer-stats-item-title {
  font-size: 0.9rem;
}


/* Faces */
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* cache la face arrière */
  opacity: 0;
  margin-top: 3rem;
}

/* 5 faces à 360/5 = 72° */
.un {
  transform: rotateY(0deg) translateZ(var(--radius));
}

.deux {
  transform: rotateY(72deg) translateZ(var(--radius));
}

.trois {
  transform: rotateY(144deg) translateZ(var(--radius));
}

.quatre {
  transform: rotateY(216deg) translateZ(var(--radius));
}

.cinq {
  transform: rotateY(288deg) translateZ(var(--radius));
}

/* Rotation globale : 
   - chaque bloc de 20% ≈ 5s
   - ~16% face fixe, ~4% de rotation vers la suivante */
@keyframes rotation-prisme {

  /* Face 1 devant */
  0%,
  16% {
    transform: rotateY(0deg);
  }

  20% {
    transform: rotateY(-72deg);
  }

  /* Face 2 devant */
  20%,
  36% {
    transform: rotateY(-72deg);
  }

  40% {
    transform: rotateY(-144deg);
  }

  /* Face 3 devant */
  40%,
  56% {
    transform: rotateY(-144deg);
  }

  60% {
    transform: rotateY(-216deg);
  }

  /* Face 4 devant */
  60%,
  76% {
    transform: rotateY(-216deg);
  }

  80% {
    transform: rotateY(-288deg);
  }

  /* Face 5 devant */
  80%,
  96% {
    transform: rotateY(-288deg);
  }

  100% {
    transform: rotateY(-360deg);
  }
}

/* Visibilité : une seule face est visible quand elle est devant */

@keyframes visible1 {

  0%,
  16% {
    opacity: 1;
  }

  17%,
  100% {
    opacity: 0;
  }
}

@keyframes visible2 {

  0%,
  19% {
    opacity: 0;
  }

  20%,
  36% {
    opacity: 1;
  }

  37%,
  100% {
    opacity: 0;
  }
}

@keyframes visible3 {

  0%,
  39% {
    opacity: 0;
  }

  40%,
  56% {
    opacity: 1;
  }

  57%,
  100% {
    opacity: 0;
  }
}

@keyframes visible4 {

  0%,
  59% {
    opacity: 0;
  }

  60%,
  76% {
    opacity: 1;
  }

  77%,
  100% {
    opacity: 0;
  }
}

@keyframes visible5 {

  0%,
  79% {
    opacity: 0;
  }

  80%,
  96% {
    opacity: 1;
  }

  97%,
  100% {
    opacity: 0;
  }
}

/* On applique les animations d’opacité aux faces */
.un {
  animation: visible1 25s infinite;
}

.deux {
  animation: visible2 25s infinite;
}

.trois {
  animation: visible3 25s infinite;
}

.quatre {
  animation: visible4 25s infinite;
}

.cinq {
  animation: visible5 25s infinite;
}
